html, body{
    height: 100vh;
}

body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.375), rgba(255, 255, 255, 0.375)), url("images/bg-road-1.jpg") no-repeat scroll center / cover;
}

.card {
    width: 20rem;
    height: 100%;
}

h1 {
    display: none;
}

.copyright {
    font-size: 11px;
}
